<tr>
  <th scope="row">1</th>
  <td><%= image_tag img %></td>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= quantity %></td>
  <td><%= humanized_money_with_symbol product.price %></td>
  <td><%= humanized_money_with_symbol product.price * quantity %></td>
</tr>
